<div class="rules">
    <div class="container">
        <div class="row">
          <div class="col xl7 offset-xl2">
              <h1>Оренда авто для бізнесу</h1>
              <p>Позитивний імідж і солідну репутацію будь-якої організації підтверджує не тільки зовнішній вигляд керівництва, але й автомобіль. Транспорт дозволяє співробітникам 
                досягти стратегічно важливих цілей і вирішити поставлені завдання в найкоротший термін.</p>
              <p>Однак, розпоряджатися великим автопарком, що підійде для різних ситуацій – дороге задоволення. Скоротити витрати на утримання авто і мати при цьому великий вибір машин дозволить компанія «MyAuto».</p>
              <h2>Вигода оренди авто</h2>
              <p>Звертаючись до нас, клієнт отримує ряд вигідних можливостей:</p>
              <ol>
                <li>Термінове отримання автомобіля в користування за відсутності особистого автопарку.</li>
                <li>Використання машини тільки в певних випадках, що позбавляє від нерентабельних витрат на її придбання.</li>
                <li>Відсутність необхідності у співробітниках, які б займалися безпосередньо обслуговуванням автопарку.</li>
                <li>Виключення витрат на утримання машини: транспортні податки, страховку, дорожні збори.</li>
                <li>Зниження витрат на проведення амортизації основних засобів.</li>
              </ol>
              <p>Оренда машини будь-якого класу і у будь-який час може оплачуватися безготівковим розрахунком з ПДВ. При цьому оплату прокату авто зручно віднести до рядка «Валові витрати».</p>
              <h2>Переваги MyAuto</h2>
              <p>Компанія MyAuto надає можливість кожному бізнесменові мати «під рукою» автомобіль у відмінному технічному і зовнішньому стані. Оплачуєте тільки паливо. При цьому в розпорядженні клієнтів широкий модельний 
                ряд прокатних авто від економ до преміум класу. Замовляйте позашляховики, вантажні машини (до 5 т.) і мікроавтобуси, не створюючи корпоративний автопарк.</p>
              <p>MyAuto надає:</p>
              <ul>
                <li>машини «віком» до 3-х років;</li>
                <li>повністю застрахований транспорт;</li>
                <li>контроль над трафіком пересування автотранспорту (за вимогою);</li>
                <li>гарантію заміни орендованого авто в разі проходження ТО, поломки або ДТП;</li>
                <li>цілодобове обслуговування прокатних машин;</li>
                <li>послугу онлайн помічник 24/7;</li>
                <li>установку на авто додаткового обладнання з урахуванням індивідуальних потреб фірми (за вимогою);</li>
                <li>заміну машини на іншу за запитом клієнта з урахуванням бажаного класу і марки;</li>
                <li>розміщення реклами організації на орендованій машині (за вимогою).</li>
              </ul>
              <p>При умові оренди машини з підписанням договору на рік і більше – купимо новий автомобіль особисто для Вас! Врахуємо марку,
                 клас, модель, тип палива і навіть колір. Індивідуально підберемо вигідні умови оренди.</p>
                
          </div>
        </div>
    </div>
</div>