<div class="rules">
    <div class="container">
        <div class="row">
          <div class="col xl7 offset-xl2">
              <h1>Умови проката автомобілей</h1>
              <h2>Вікові обмеження</h2>
              <p>Є лише 2 вікових обмеження</p>
              <ul>
                <li>Клієнт повинен бути старше 21;</li>
                <li>Водійський стаж повинен становити мінімум 2 роки.</li>
              </ul>
              <p>Якщо водій не відповідає даним вимогам, компанія може запропонувати збільшення суми застави.</p>
              <h2>Перелік необхідних документів</h2>
              <p>Для оренди автомобіля громадянину України знадобляться паспорт і посвідчення водія з правом керування транспортним засобом відповідної категорії.</p>
              <p>Для укладення договору оренди іноземець повинен надати національний паспорт і міжнародні права або водійське посвідчення, в якому ім'я і прізвище вказані латиницею.</p>
              <h2>Способи оплати</h2>
              <p>Для зручності клієнтів ми пропонуємо різні способи оплати, в тому числі і за безготівковим розрахунком з ПДВ або пластиковою карткою. Оплата також може
                здійснюватися готівкою або банківським переказом.</p>
              <p>Оплата за оренду автомобіля проводиться до початку поїздки. Клієнт попередньо оплачує повний термін оренди. При бажанні продовжити оренду також потрібно зробити передоплату.
                 У разі повернення автомобіля за кілька днів до кінця терміну оренди, здійснюється перерахунок оплати за фактичним часом використання автомобіля.</p>
              <h2>Застава</h2>
              <p>Разом з оплатою оренди клієнт зобов'язаний внести депозит (заставу) за автомобіль. Він може бути внесений готівкою або ж за допомогою банківської карти. 
                Зверніть увагу, що гроші з картки не знімаються, а лише блокуються. По закінченню терміну оренди і за відсутності порушень договору, клієнт отримує всю 
                суму застави назад. Розмір застави залежить від класу автомобіля.</p>
              <p>Клієнт також може скористатися послугою оренди без застави, але її вартість буде дещо вищою.</p>
              <h2>Вимоги щодо пробігу</h2>
              <p>Ліміт добового пробігу складає 100 км. Він рахується сумарно за весь термін оренди. Тобто, якщо ви взяли автомобіль на 10 днів, то максимальний допустимий пробіг 
                не повинен перевищувати 1000 км.</p>
                <p>Компанія також пропонує послугу «Безлімітний пробіг». Більш детально про неї вам розкажуть наші менеджери.</p>
                <h2>Яке пальне використовувати?</h2>
                <p>З метою уникнення поломок автомобіля, компанія наполегливо рекомендує заправляти автомобілі тільки на офіційних заправних станціях БРСМ, OKKO, Marshal, WOG, Shell, Лукойл, Socar.</p>
                <h2>Територія пересування</h2>
              <p>Клієнти нашої компанії мають право вільно використовувати орендовані автомобілі на всій території України, крім Донецької та Луганської областей, а також Криму. Виїзд за кордон не дозволяється.</p>
              <h2>Хто може керувати орендованим транспортним засобом?</h2>
              <p>За кермом орендованого авто має право знаходитися лише водій з посвідченням, яким підтверджується право на керування автомобілем даної категорії. Компанія Rental наполегливо рекомендує попередньо узгоджувати 
                компетентність водіїв з нашими менеджерами.</p>
              <h2>Термін оренди</h2>
              <p>Мінімальний термін оренди автомобіля становить 24 години. Початком відліку терміну оренди прийнято вважати момент підписання акту прийому-передачі транспортного засобу.</p>
              <p>Повернення авто повинно бути проведено не пізніше ніж через 1 годину з моменту закінчення останньої доби прокату. За запізнення при поверненні автомобіля нараховується орендна плата за додатковий день прокату.</p>
              <h2>Умови страхування</h2>
              <p>Кожен автомобіль компанії Rental застрахований на умовах обов'язкового страхування цивільно-правової відповідальності власників наземних транспортних засобів (Автоцивілка) і повного страхування
                 від збитків або розкрадання (КАСКО). ВСЮ ВІДПОВІДАЛЬНІСТЬ БЕРЕ НА СЕБЕ КОМПАНІЯ.</p>
                <h2>Отримання і повернення транспортного засобу</h2>
                <p>Видача і повернення автомобіля проводиться на станціях прокату в робочий час, але компанія також може надати вам додаткові послуги:</p>
                <ul>
                  <li>Отримання авто в неробочий час - 300грн.</li>
                  <li>Повернення авто в неробочий час - 450 грн.</li>
                </ul>
                <p>Ми будемо раді Вам допомогти з понеділка - по суботу - з 9:00 до 19:00, і в неділю - з 10:00 до 16:00.</p>
                
          </div>
        </div>
    </div>
</div>