<div class="container">
  <div class="row">
    <div class="col xl6 offset-xl1">
      <h1>Бронювання автомобіля</h1>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="input-field col s7">
              <input formControlName="pib" id="pib" name="pib" type="text" class="validate" [ngClass]="{invalid: form.get('pib').invalid && form.get('pib').touched}">
              <label for="pib">ПІБ</label>
            </div>
            <div class="input-field col s5">
              <input formControlName="birthsday"  id="birthsday" name="birthsday" type="date" class="validate" [ngClass]="{invalid: form.get('birthsday').invalid && form.get('birthsday').touched}">
              <label class="active" for="birthsday">Дата народження</label>
            </div>
            <div class="input-field col s7">
              <input formControlName="email" id="email" name="email" type="email" class="validate" [ngClass]="{invalid: form.get('email').invalid && form.get('email').touched}">
              <label for="email">Email</label>
            </div>
            <div class="input-field col s5">
              <input formControlName="phone" id="phone" name="phone" type="text" class="validate" [ngClass]="{invalid: form.get('phone').invalid && form.get('phone').touched}"> 
              <label for="phone">Телефон</label>
            </div>
            <div class="input-field col s7">
              
              <select formControlName="startPlace" name="startPlace" class="select-add" id="startPlace" >
                <option value="Київ, просп. Юрія Гагаріна, 15">Київ, просп. Юрія Гагаріна, 15</option>
                <option value="Київ, Аеропорт Бориспіль">Київ, Аеропорт Бориспіль</option>
                <option value="Київ, Аеропорт Жуляни">Київ, Аеропорт Жуляни</option>
                <option value="Київ, по місту">Київ, по місту</option>
              </select>
              <label class="active" for="startPlace">Місце подачі</label>
            </div>
            <div class="input-field col s5">
                <input formControlName="dateStart" id="dateStart" name="dateStart" type="date" class="validate" [ngClass]="{invalid: form.get('dateStart').invalid && form.get('dateStart').touched}">
                <label class="active" for="dateStart">Дата видачі</label>
            </div>
            <div class="input-field col s7">
                <select formControlName="endPlace" name="endPlace" class="select-add" id="endPlace">
                    <option value="Київ, просп. Юрія Гагаріна, 15">Київ, просп. Юрія Гагаріна, 15</option>
                    <option value="Київ, Аеропорт Бориспіль">Київ, Аеропорт Бориспіль</option>
                    <option value="Київ, Аеропорт Жуляни">Київ, Аеропорт Жуляни</option>
                    <option value="Київ, по місту">Київ, по місту</option>
                  </select>
                  <label class="active" for="endPlace">Місце подачі</label>
            </div>
            <div class="input-field col s5">
                <input formControlName="dateEnd" id="dateEnd" name="dateEnd" type="date" class="validate" [ngClass]="{invalid: form.get('dateEnd').invalid && form.get('dateEnd').touched}">
                <label class="active" for="dateEnd">Дата повернення</label>
            </div>
            <div class="col xl6">
                <button [disabled]="form.invalid" class="btn" type="submit">Забронювати</button>
            </div>
      </form>
    </div>
    <div class="col xl4">
      <div *ngIf="car" class="car">
        <h6>{{car.mark}}</h6>
        <span>{{car.engineCapacity}} | {{car.fuelType}} | {{car.transmissionType}}</span>
        <img src={{car.imageSrc}} > <hr>
        <p>Тип кузова: {{car.carcase}}</p>
        <p>Об'єм двигуна: {{car.engineCapacity}}</p>
        <p>Тип трансмісії: {{car.transmissionType}}</p>
        <p>Тип палива: {{car.fuelType}}</p>
        <p>Витрата палива: {{car.costFuel}}</p>
        <p>Клас: {{car.class}}</p>

      </div>
    </div>
  </div>
</div>