<div class="concierge">
    <div class="container">
      <div class="row">
        <div class="col xl7 offset-xl2">
          <h1>Wi-Fi ІНТЕРНЕТ - завжди на зв'язку</h1>
          <img src="../../assets/img/option5B.jpg" alt="">
          <p>Ми розуміємо, наскільки важлива не лише свобода пересування, але і свобода спілкування. 
            Сучасним людям складно залишатися без зв'язку з близькими і навколишнім світом, навіть знаходячись у дорозі. Тому ми надаємо усі умови для комфортної поїздки.</p>
          <p>Усі машини можуть бути додатково укомплектовані Wi - Fi роутером, щоб ви мали можливість у будь-який час переглядати пошту, користуватися інтернет-картами для вибору
             оптимального маршруту пересування, а ваші попутники не нудьгували і вільно спілкувалися в соціальних мережах, дивилися фільми і завантажувати музику.</p>
          <p>Wi - Fi роутер, призначений для автомобілів, покриває усю територію України. Це означає, що орендувавши машину для поїздки в інше місто, ви не опинитеся в скрутній ситуації - 
            під рукою завжди буде швидкісний інтернет. Можете сміливо включати у свій маршрут будь-які населені пункти країни, вирушаючи у спонтанну подорож.</p>
            <p>Оскільки надання роутера можливо для будь-якої машини, клієнти можуть вибрати свою улюблену модель для оренди або ж взяти напрокат ту марку авто, яка сподобається при вивченні каталогу.</p>
            <br>
          </div>
      </div>
    </div>
</div>