<div class="concierge">
    <div class="container">
      <div class="row">
        <div class="col xl7 offset-xl2">
          <h1>GPS Навігатор: тепер знайти дорогу не проблема</h1>
          <img src="../../assets/img/option4B.jpg" alt="">
          <h2>Доставка прокатного автомобіля</h2>
          <p>Іноді важко зорієнтуватися навіть в рідному місті, особливо, якщо вам потрібно поїхати в незнайомий район. А поїздка в інше місто може 
            заподіяти масу незручностей: спроба розібратися в хитросплетінні вулиць іноді стає справжніми тортурами. Але головне - втрата дорогоцінного часу на блукання і вивчення карти.</p>
            <p>У разі вашого прильоту до Львова, Києва, Дніпра, Одеси, Вінниці або Харкова є можливість оренди автомобіля від самого аеропорту. Ви зможете забрати прокатний
             транспорт прямо біля входу в термінал і відправитися подорожувати по місту вже на особистому авто.</p>
          <p>GPS-навігатор - ефективне вирішення всіх проблем. Завдяки високоточному позиціонуванню ви завжди будете знати своє місце розташування, і бачити оптимальний маршрут руху. GPS-навігатор - 
            це сучасні технології, що дозволяють заощадити час і отримати максимальне задоволення від поїздки - всі тривоги і переживання про те, «як би не заблукати», 
            залишилися в минулому! Все просто: навігатор сам визначає ваше становище на карті, а вам залишається тільки ввести адресу пункту призначення, після чого ви 
            побачите найбільш оптимальний маршрут руху.</p>
        </div>
      </div>
    </div>
</div>