<div class="section main">
  <div class="container">
    <h1>Оренда нових автомобілів за годину</h1>

        <img style="border-radius: 15px" width="700" height="400" src="../../assets/img/carD.jpg" alt="">
      
  </div>
</div>

<div class="section access">
  <div class="container">
  <h3>Для Вас це доступно</h3>
  <div class="row">
    <div class="col xl2">
      <div class="option">
        <div class="block">
          <i class="material-icons large">shield</i>
        </div>
        <span>Cтраховка авто</span>
        <p>Подорожуйте спокійно і безпечно - ми беремо всі ризики на себе,
          адже весь парк авто, який ми пропонуємо, повністю застрахований.</p>
        </div>
      </div>
      <div class="col xl2">
        <div class="option">
          <div class="block">
            <i class="material-icons large">person_pin_circle</i>
          </div>
          <span>GPS - навігатор</span>
          <p>Не губіться і економте час за допомогою GPS-навігатора,
            який підкаже Вам оптимальний маршрут.</p>
          </div>
        </div>
                    <div class="col xl2">
                      <div class="option">
                        <div class="block">
                          <i class="material-icons large">weekend</i>
                        </div>
                        <span>Дитяче крісло</span>
                        <p>Подорожуєте з дітьми? Захистіть своїх дітей за допомогою комфортного дитячого крісла.</p>
                      </div>
                    </div>
                    <div class="col xl2">
                      <div class="option">
                        <div class="block">
                          <i class="material-icons large">wifi</i>
                        </div>
                        <span>Wi-Fi інтернет</span>
                        <p>Залишайтеся на зв'язку і будьте в курсі всього,
                          що відбувається зі швидкісним Wi-Fi інтернетом.</p>
                        </div>
                      </div>
                      <div class="col xl2">
                        <div class="option">
                          <div class="block">
                            <i class="material-icons large">room_service</i>
                          </div>
                          <span>Консьєрж-сервіс</span>
                          <p>Цілодобова підтримка з будь-якими питаннями, будь то
                            бронювання готелів або пошук кращих турів і товарів.
                            
                          </p>
                        </div>
                      </div>
                      <div class="col xl2">
                        <div class="option">
                          <div class="block">
                            <i class="material-icons large">call</i>
                          </div>
                          <span>Допомога в дорозі</span>
                          <p>Закінчився запас палива? Потрібно поміняти колесо або зарядити акумулятор?
                            Дайте нам знати і наші фахівці приїдуть і допоможуть вам.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
<div class="section about">
  <div class="container">
    <div class="row">
      <h3>Оренда авто в Україні</h3>
      <div class="col xl7">
            <p><b>MyAuto</b> - це компанія, яка не просто здає автомобілі на прокат.
                    При організації свого бізнесу, ми врахували багаторічний досвід роботи
                    всесвітньо відомих прокатників і адаптували його під особливості, потреби
                    та менталітет наших клієнтів. Ми перетворили оренду машин в Україні з дорогої
                    послуги в доступну і зрозумілу для всіх людей. Поставивши на чільне місце
                    максимум сервісу вже зараз ми пропонуємо оренду автомобілів на найпривабливіших
                    і вигідних умовах.</p>
                    <p>У нас ви можете взяти автомобіль в оренду без водія і не відчувати обмежень
                      при пересуванні. Нашу високу планку надання послуг вже змогли оцінити постійні
                      клієнти в Харкові, Києві, Дніпрі, Львові, Одесі та Вінниці. Оренда авто з нашою
                      компанією - це не розкіш, а елемент комфортного побуту. Використовуючи прокат
                      автомобілів в своїх цілях ви можете організувати автомобільний парк для свого
                      бізнесу або взяти машину напрокат для особистого користування.</p>
                    </div>
                    <div class="col xl5">
                      <img width="100%" src="../../assets/img/car-3.png" >
                    </div>
    </div>
                  <div class="row">
                    <h4>Наші конкурентні переваги</h4>
                    <ul>
                      <li>Великий парк авто дозволяє нам не торгувати класами, а здавати в оренду конкретні моделі.</li>
                      <li>Створіть свій автомобільний парк. Послуга прокат машин створена для бізнесу, якому необхідний
                        автомобільний парк, але коштів на покупку своїх машин поки немає.</li>
                        <li>Невисокі і зрозумілі ціни. Щоб дізнатися вартість прокату кожного конкретного автомобіля,
                          вам не потрібно відправляти попередню заявку, або прораховувати якісь спеціальні тарифи.
                          Ми нічого не приховуємо, в нашому парку ціна всіх моделей вказана відразу.</li>
                          <li>Працюємо цілодобово. Телефонуйте нам в будь-який час дня і ночі, замовляйте авто напрокат,
                            ми працюємо 24 години на добу 7 днів на тиждень.</li>
                            <li>Онлайн бронювання автомобілів. Незручно дзвонити? Замовляйте авто прямо на сайті, ми
                              оперативно опрацюємо заявку і зв'яжемося з Вами.</li>
                              <li>Машини надаються в максимально стислі і оперативні терміни. Оренда автомобіля -
                                це не довго, видача займе всього 5 хвилин вашого часу.</li>
                                <li>Консьєрж-сервіс. Цілодобова підтримка з будь-якими питаннями, будь то бронювання готелів або
                                  пошук кращих турів і товарів.</li>
                                  <li>Допомога в дорозі. Закінчився запас палива? Потрібно поміняти колесо або зарядити акумулятор?
                                    Дайте нам знати і наші фахівці приїдуть і допоможуть вам.</li>
                                  </ul>
                                  <h4>Додатково вам будуть корисні</h4>
                                  <ul>
                                    <li>GPS навігатор - допоможе вам швидко орієнтуватися в незнайомій місцевості.</li>
                                    <li>Дитяче крісло - забезпечить комфорт і безпеку вашої дитини.</li>
                                    <li>WI-FI - бездротовий інтернет для всіх пасажирів.</li>
                                    <li>Go-Pro - збереже ваші емоції в кращій якості.</li>
                                    <li>Оренда автомобілів без застави - зменшує ваші первинні витрати і не заморожує ваші гроші на
                                      час прокату. При цьому ви отримуєте максимально повну страховку (SuperCDW), без франшизи.</li>

                                    </ul>
        </div>
      </div>
  
</div>
