<div class="concierge">
  <div class="container">
    <div class="row">
      <div class="col xl7 offset-xl2">
        <h1>Консьєрж-сервіс</h1>
        <img src="../../assets/img/helper.jpg" alt="">
        <h2>Консьєрж-сервіс - інформаційно-організаційний супровід вашого візиту</h2>
        <p>Беріть в прокат автомобіль - і користуйтеся послугами консьєрж-сервісу безкоштовно! Вам більше не знадобиться шукати місця для відпочинку, 
          хороші готелі, найкращі тури і потрібні товари - все це зробить CONCIERG SERVICE за вашою заявкою.</p>
        <h2>Організуємо захід у будь-якій точці земної кулі</h2>
        <p>Замовимо для вас столик або зал в будь-якому ресторані, влаштуємо розважальний, навчальний, бізнес-захід. Знайдемо і забронюємо квитки на концерт, 
          зареєструємо вас як учасника тренінгу, виберемо кращі місця на модному показі або стадіоні.</p>
        <p>Знайдемо найзручніші рейси і забронюємо квитки. Підшукаємо туристичні маршрути, які відповідають вашим перевагам. Замовимо, купимо, доставимо квитки 
          на будь-який вид транспорту - сухопутний, повітряний, водний. Забронюємо для вас готель у будь-якій країні світу і навіть організуємо пошук багажу 
          в аеропорту, якщо станеться форс-мажор.</p>
        <h2>Забезпечимо нагляд за вашим будинком</h2>
        <p>Допоможемо підібрати домашній персонал, замовити окремі послуги (хімчистка, прибирання, вигул тварин і т.п.). Організуємо ремонт побутових приладів.
           Знайдемо будь-яких фахівців - від садівників до дизайнерів інтер'єрів. Допоможемо у нештатній ситуації.</p>
           <p>Будьте впевнені: ваша фортеця під надійним наглядом!</p>
        <p>А також:</p>
        <ul>
          <li>Допоможемо з покупками: знайдемо і доставимо будь-які товари, проконсультуємо з питань їх ввезення-вивезення в країну.</li>
          <li>Організуємо телефонні переговори з друзями, партнерами, сервісами підтримки в будь-якій точці планети.</li>
          <li>Візьмемо на себе функції особистого секретаря. Доручіть нам робити нагадування про важливі заходи і зустрічі, стежити за вашим особистим календарем і робити все, що в ньому заплановано.</li>
          <li>Організуємо персональне інформування про те, що для вас важливо. Залишайтеся в курсі останніх подій в країні і світі, відстежуйте авіарейси, дізнавайтеся першими про цікаві заходи.</li>
          <li>Знайдемо інформацію про все на світі і допоможемо вирішити будь-яке завдання - від поповнення вашої винної колекції до пошуку рідкісного лікарського препарату.</li>
        </ul>
      </div>
    </div>
  </div>
</div>