<div class="options">
    <div class="container">
      <div class="row">
      
          <h1>Додаткові опції</h1>
          <div class="row">
            <div class="col xl4">
              <a routerLink="/options/go-pro"><img src="../../assets/img/option1.jpg" alt=""></a>
            </div>
            <div class="col xl4">
                <a routerLink="/options/dostavka-podbor-avto"><img src="../../assets/img/option2.jpg" alt=""></a>
              </div>
              <div class="col xl4">
                  <a routerLink="/options/detskoe-avtokreslo"><img src="../../assets/img/option3.jpg" alt=""></a>
                </div>
                <div class="col xl4">
                    <a routerLink="/options/prokat-gps-navigatora"><img src="../../assets/img/option4.jpg" alt=""></a>
                  </div>
                  <div class="col xl4">
                      <a routerLink="/options/internet"><img src="../../assets/img/option5.jpg" alt=""></a>
                    </div>
         
        </div>
      </div>
    </div>
  </div>