<div class="concierge">
    <div class="container">
      <div class="row">
        <div class="col xl7 offset-xl2">
          <h1>ДИТЯЧЕ КРІСЛО: з нами безпечніше</h1>
          <img src="../../assets/img/option3B.jpg" alt="">
          <p>Дитяче автокрісло - обов'язкова вимога для поїздки дитини в автомобілі. І це не тільки норма закону, це ще і дотримання безпеки. 
            Для кожного з батьків - життя і здоров'я дитини понад усе, тому головним завданням є максимально захистити дитину під час поїздки.</p>
          <h2>Дитяче автокрісло - запорука безпеки</h2>
          <p>Для поїздки в торговий центр або на природу разом з дітьми можна взяти в оренду сімейне авто. Гідну безпеку і комфорт дитині забезпечить дитяче автокрісло. 
            Воно являє собою встановлене всередині машини сидіння, в якому маленький пасажир надійно фіксується за допомогою штатних ременів або спеціальних кріплень крісла</p>
            <h2>Наші послуги</h2>
            <p>Компанія Rental не тільки здає в оренду зручні і надійні автомобілі, але і надає своїм клієнтам дитячі автокрісла в прокат.</p>
            <p>Представлені моделі відрізняються конструкцією, вибір якої залежить від двох важливих критеріїв:</p>
          <ul>
            <li>ваги малюка (до 36 кг);</li>
            <li>віку дитини (від 0 до 12 років).</li>
          </ul>
          <p>Кожне з крісел має особливу форму, яка забезпечує правильну посадку. Тому малюк буде відчувати максимальний комфорт протягом всієї поїздки.</p>
          <p>До ваших послуг кваліфікована допомога в підборі марки машини і оптимальної для дитини моделі автокрісла.</p>
          <p>Шановні клієнти, єдина наша вимога - це попереднє попередження про приїзд до нас з дітьми. Тоді ми зможемо підібрати найбільш зручний варіант машини для вас і автокрісла для вашої дитини.</p>
        </div>
      </div>
    </div>
</div>