<div class="contacts">
  <div class="container">
    
    <div class="row">
        <h1>Контакти</h1>
      <div class="col xl4 offset-xl2">
        <div class="contact">
          
            <ul>
                <li><i class="Tiny material-icons">location_on</i><b>Харків, </b> <span>  проспект Гагаріна, 23, офіс 26, 3 поверх</span> </li>
                <li><i class="Tiny material-icons">call</i><b>Телефон </b> <span>  +38 098 000 8887</span></li>
                <li><i class="Tiny material-icons">contact_phone</i><b>Тел./факс </b> <span>  +38 050 401 0880</span></li>
                <li><i class="Tiny material-icons">mail</i><b>E-mail </b> <span>  info@myauto.ua</span></li>
            </ul>
        </div>
      </div>
      <div class="col xl4">
        <div class="contact">
            <ul>
                <li><i class="Tiny material-icons">location_on</i><b>Львів, </b> <span> пл. Ярослава Осмомисла, 5</span></li>
                <li><i class="Tiny material-icons">call</i><b>Телефон </b> <span>  +38 098 000 8887</span></li>
                <li><i class="Tiny material-icons">contact_phone</i><b>Тел./факс </b> <span>  +38 050 401 0880</span></li>
                <li><i class="Tiny material-icons">mail</i><b>E-mail </b> <span>  info@myauto.ua</span></li>
            </ul>
        </div>
      </div>
      <div class="col xl4 offset-xl2">
          <div class="contact">
              <ul>
                  <li><i class="Tiny material-icons">location_on</i><b>Дніпро, </b> <span>   вулиця Антоновича 6, готель "Свердловськ"</span></li>
                  <li><i class="Tiny material-icons">call</i><b>Телефон </b> <span>  +38 098 000 8887</span></li>
                  <li><i class="Tiny material-icons">contact_phone</i><b>Тел./факс </b> <span>  +38 050 401 0880</span></li>
                  <li><i class="Tiny material-icons">mail</i><b>E-mail </b> <span>  info@myauto.ua</span></li>
              </ul>
          </div>
        </div>
        <div class="col xl4">
            <div class="contact">
                <ul>
                    <li><i class="Tiny material-icons">location_on</i><b>Вінниця, </b> <span>  вул. Академіка Янгеля, 58 (Автосалон "АІС Вінниця")</span></li>
                    <li><i class="Tiny material-icons">call</i><b>Телефон </b> <span>  +38 098 000 8887</span></li>
                    <li><i class="Tiny material-icons">contact_phone</i><b>Тел./факс </b> <span>  +38 050 401 0880</span></li>
                    <li><i class="Tiny material-icons">mail</i><b>E-mail </b> <span>  info@myauto.ua</span></li>
                </ul>
            </div>
          </div>
          <div class="col xl4 offset-xl2">
              <div class="contact">
                  <ul>
                      <li><i class="Tiny material-icons">location_on</i><b>Одеса, </b> <span>  вул. Мала Арнаутська, 48</span></li>
                      <li><i class="Tiny material-icons">call</i><b>Телефон </b> <span>  +38 098 000 8887</span></li>
                      <li><i class="Tiny material-icons">contact_phone</i><b>Тел./факс </b> <span>  +38 050 401 0880</span></li>
                      <li><i class="Tiny material-icons">mail</i><b>E-mail </b> <span>  info@myauto.ua</span></li>
                  </ul>
              </div>
            </div>
            <div class="col xl4">
                <div class="contact">
                    <ul>
                        <li><i class="Tiny material-icons">location_on</i><b>Одеса, </b> <span>  вул. Мала Арнаутська, 48</span></li>
                        <li><i class="Tiny material-icons">call</i><b>Телефон </b> <span>  +38 098 000 8887</span></li>
                        <li><i class="Tiny material-icons">contact_phone</i><b>Тел./факс </b> <span>  +38 050 401 0880</span></li>
                        <li><i class="Tiny material-icons">mail</i><b>E-mail </b> <span>  info@myauto.ua</span></li>
                    </ul>
                </div>
              </div>
    </div>
  </div>
</div>