<div class="concierge">
    <div class="container">
      <div class="row">
        <div class="col xl7 offset-xl2">
          <h1>GoPro камера</h1>
          <img src="../../assets/img/option1B.jpg" alt="">
          <h2>Прокат GoPro на вигідних умовах</h2>
          <p>Хочете зберегти подію не тільки в своїй пам'яті, а й у камері? Забудьте про тремтячий телефон і втомлену руку - тепер є GoPro! Це зручна екшн-камера, 
            яку можна закріпити на голові або інших частинах тіла.</p>
          <h2>Чому взяти напрокат GoPro слід у нас?</h2>
          <p>Компанія Rental пропонує найбільш вигідні умови прокату:</p>
          <ul>
            <li>в наявності новітні моделі екшн-камер, що гарантують якісний відеоматеріал;</li>
            <li>в оренду ви отримуєте не тільки камеру, але і весь необхідний комплект аксесуарів;</li>
            <li>клієнтам надається безкоштовна консультація по використанню обладнання;</li>
            <li>за прокат відео-комплекту на тиждень і довше ви платите смішну ціну, отримуючи доступ до великого вибору аксесуарів.</li>
          </ul>
          <p>З екшн-камерою можна не тільки задокументувати успіхи в екстремальних видах спорту, але і записати на відео похід в аквапарк або концерт улюбленого музиканта. 
            За допомогою спеціальних кріплень легко отримати найвигідніший ракурс і яскраві кадри, завдяки яким щасливі спогади назавжди залишаться з вами!</p>
        </div>
      </div>
    </div>
</div>