<div class="concierge">
    <div class="container">
      <div class="row">
        <div class="col xl7 offset-xl2">
          <h1>Доставка і Підбір Автомобіля</h1>
          <img src="../../assets/img/option2B.jpg" alt="">
          <h2>Доставка прокатного автомобіля</h2>
          <p>Бажання отримати орендоване авто у користування в обумовлений час і в потрібному місці природне 
            і закономірне. Фахівці служби прокату «MyAuto» можуть доставити машину навіть рано вранці під під'їзд вашого будинку.</p>
            <p>У разі вашого прильоту до Львова, Києва, Дніпра, Одеси, Вінниці або Харкова є можливість оренди автомобіля від самого аеропорту.
               Ви зможете забрати прокатний транспорт прямо біля входу в термінал і відправитися подорожувати по місту вже на особистому авто.</p>
          <h2>Вартість послуги доставки авто</h2>
          <p>Компанія MyAuto надає цю послугу на вигідних умовах. Доставка авто в будь-яке місце обійдеться клієнтові в 10 $. Працівники фірми 
            можуть привезти особистий транспортний засіб в зазначену точку міста. Це може бути:</p>
          <ul>
            <li>залізничний вокзал;</li>
            <li>аеропорт;</li>
            <li>адреса проживання.</li>
          </ul>
          <p>Компанія «MyAuto» також надає зворотну послугу. Співробітники фірми можуть забрати орендоване авто в будь-якому місці. Наприклад, 
            на вокзалі, коли ваше відрядження закінчилося, і ви їдете додому. Вартість зворотної послуги в такому випадку дорівнює ціні доставки.</p>
          <p>При поверненні орендованої машини транспортний засіб необхідно привести в належний стан:</p>
            <ul>
              <li>помити;</li>
              <li>заправити.</li>
            </ul>
          <p>Якщо ви не встигли помити і заправити автомобіль, необхідно сплатити мийку і ціну відсутнього палива в баку. Тільки при дотриманні
             цих умов застава за орендований автомобіль повертається в повній мірі.</p>
            <p>При бажанні орендувати транспортний засіб з додатковою послугою доставки, її необхідно завчасно оплатити. Для цього є 3 різних способи:</p>
          <ul>
            <li>банківський переказ на карту;</li>
            <li>використання платіжних систем (VISA і MasterCard);</li>
            <li>оплата електронними грошима.</li>
          </ul>
          <h2>Плюси оренди авто з доставкою в MyAuto.UA</h2>
          <p>Прокат автомобіля з доставкою в зручне для клієнта місце відрізняється від стандартної послуги рядом переваг. Це:</p>
          <ul>
            <li>економія;</li>
            <li>зручність;</li>
            <li>збереження іміджу.</li>
          </ul>
          <p>З цією послугою вам не потрібно витрачати додаткові кошти і цінний час на поїздку за авто в офіс компанії. Також це дуже зручно в погану погоду. При цьому, вчасно поданий
             в обумовлене місце автомобіль підвищує ваш авторитет і значимість перед колегами, діловими партнерами або близькими людьми.</p>
             <p>Цілодобовий прокат машини з послугою її доставки можна оперативно узгодити з нашими менеджерами. Авто в ідеальному технічному стані буде своєчасно доставлено у певний час
                і в потрібний пункт призначення професійним водієм.</p>
        </div>
      </div>
    </div>
</div>